<form id="myForm" method="GET"  class="form">
    <div class="form-group">
        <label for="stateSelect">País</label>
        <select class="form-control" id="countrySelect" name="country">
            <option>---------------------</option>
        </select>
    </div>
    <div class="form-group" style="padding:10px;">
        <label for="stateSelect">Provincia</label>
        <select class="form-control" id="stateSelect" name="state">
            <option>---------------------</option>
        </select>
    </div>
    <div class="form-group" style="padding:10px;">
        <label for="citySelect">Ciudad</label>
        <select class="form-control" id="citySelect" name="city">
            <option>---------------------</option>
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-success pull-right" type="submit">Filtrar</button>
        <a href="" class="result">Aplicar</a>
    </div>
</form>
